/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility  */
body {
    font-family: Helvetica, sans-serif;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

/* HEADER  */
header {
    background-color: rgb(255, 105, 27);
    width: 100%;
    box-shadow: 1px 2px 2px gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    width: 75%;
    height: 70px;
    margin: 0 auto;
    padding-top: 5px;

}

.logo img {
    width: 150px;
}

.categories span {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 0 5px;
}

.header-icons i {
    color: white;
    font-size: 15px;
    padding: 0 5px;
}

/* MAIN SECTION */

.wrapper {
    max-width: 75%;
    margin: auto;
    margin-top: 150px;
}

.model-box {
    width: calc((100% - 30px) / 3);
    position: relative;
}

.model-box img {
    width: 100%;

}

.img-wrap {
    position: relative;
}

.img-descrip {
    min-width: 200px;
    min-height: 30px;
}

.brand {
    font-size: 16px;
    font-weight: 100;
    padding-top: 8px;
}

.dress-name {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
}

.sale-price {
    color: red;
    font-weight: 600;
}

.old-price {
    text-decoration: line-through;
    font-weight: 100;
}

.discount {
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px 12px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 12%
}

.sostenibile {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(0, 128, 23);
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    bottom: 12%;
    left: 60px;
}

.heart {
    display: inline-block;
    background-color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 2%;
    right: 0;
}

#sust-nodisc {
    position: absolute;
    left: 0;
}

/* FOOTER  */

footer {
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
}

h3 {
    font-size: 18px;
    padding: 10px 0;
}

h4 {
    padding: 10px 0;
}

.foot-container {
    width: 75%;
    margin: 0 auto;
    height: 120px;
}

.foot-left a {
    text-decoration: none;
    color: white;
    padding-right: 3px;
}

.foot-left {
    float: left;
    padding-top: 20px;
}

.foot-right {
    float: right;
    padding-top: 20px;
}

.foot-right i {
    font-size: 18px;
    padding-right: 5px;
}

/* EFFETTI  */

.first-pic {
    display: block;
}

.second-pic {
    display: none;
}

.model-box:hover .first-pic {
    display: none;
}

.model-box:hover .second-pic {
    display: block;
}

.heart:hover {
    color: red;
}